<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/header"></head>
<body>
<div class="container">
    <div class="row">
        <h1>Hello world!</h1>
    </div>
    <div class="list-group">
        <a class="list-group-item" th:href="@{/rmp/show}">Get</a>
        <a class="list-group-item" th:href="@{/rmp/param?view=ji}">Param</a>
        <a class="list-group-item" th:href="@{/rmp/path/owl}">Path</a>
        <a class="list-group-item" th:href="@{/rmp/rrs}">Session</a>
        <a class="list-group-item" th:href="@{/rmp/mm}">Model</a>
    </div>
</div>
</body>
</html>