<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/header"></head>
<body>
    <div class="container">
        <h1>Model receiving examples</h1>
            <p>Number of the beast: <span th:text="${numberOfTheBeast}"/></p>
            <p>Object: <span th:text="${cheburator}" /><br />
            Name: <span th:text="${cheburator.name}" /><br />
            Email: <span th:text="${cheburator.email}"/></p>

            <p>Javascript cheburator: <span id="cheburator" /></p>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
            var cheburator = /*[[${cheburator}]]*/
        /*]]>*/
        document.getElementById('cheburator').innerHTML = JSON.stringify(cheburator);
    </script>

</body>
</html>