<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Model example</title>
</head>
<body>
<h1>Model receiving examples</h1>
    <p>Number of the beast: <span th:text="${numberOfTheBeast}"/></p>
    <p>Object: <span th:text="${cheburator}" /><br />
    name: <span th:text="${cheburator.name}" /><br />
    email: <span th:text="${cheburator.email}"/></p>

    <p>Javascript cheburator: <span id="cheburator" /></p>


    <script th:inline="javascript">
        /*<![CDATA[*/
            var cheburator = /*[[${cheburator}]]*/
        /*]]>*/
        document.getElementById('cheburator').innerHTML = JSON.stringify(cheburator);
    </script>
</body>
</html>