<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/header"></head>
<body>
    <div class="container">
        <h1>Thymeleaf looping</h1>
        <h3>Simple loop</h3>
        <ol class="list-group">
            <li class="list-group-item" th:each="number,iterStat : ${#numbers.sequence( 1, 5 )}" th:text="${iterStat.index}+' Hello world!'"></li>
        </ol>

        <h3>Loop over data list</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${dataList}">
                <td th:text="${dto.name}"></td>
                <td th:text="${dto.email}"></td>
            </tr>
            </tbody>
        </table>

        <h3>Loop over data map</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Object</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${dataMap}">
                <td th:text="${dto.key}"></td>
                <td th:text="${dto.value.email}"></td>
                <td th:text="${dto.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>