<script type="text/ng-template" id="/third.html">
    <div class="inner_content">
        <form ng-submit="send()" class="example_form">
            <label>Name: <input type="text" ng-model="form.name" ng-disabled="lock" ng-class="{'error': errors.name}"/></label><br />
            <label>Email: <input type="email" ng-model="form.email" ng-disabled="lock" ng-class="{'error': errors.email}"/></label><br />
            <input type="submit" value="Send" />
        </form>
        <div class="responses">
            <p ng-show="response">Response: {{response}}</p>
            <p ng-show="errors">Errors: {{errors}}</p>
        </div>
        <a href="#/second" class="previous">Previous</a>
        <a href="#/fourth" class="next">Next</a>
    </div>
</script>